main {
	background: url("../../assets/contact-background.svg") center / cover
		no-repeat;
}

p {
	max-width: 17ch;
	margin-top: 0.7em;
}
form {
	margin: 3em auto 0 auto;
}
.text-container h1 {
	display: inline-block;
}
.text-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: fit-content;
}

@media (min-width: 900px) {
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p {
		padding-bottom: 3em;
		margin-top: 0.7em;
	}
}
