body {
	background-color: var(--light-color);
	color: var(--darkest-color);
}

a,
form {
	color: var(--dark-color);
}

header,
footer {
	background-color: var(--dark-color);
}

footer,
footer svg {
	color: var(--light-color);
}

.logo .first-name {
	color: var(--light-accent-color);
}

.logo .last-name {
	color: var(--dark-accent-color);
}

.hamburger-logo rect {
	fill: var(--dark-accent-color);
}

.slide-in-menu {
	background-color: var(--dark-color);
}

.nav-link {
	color: var(--light-accent-color);
}

.nav-link:active {
	color: var(--dark-accent-color);
}

.arrow-container path,
.img-indicator-container circle {
	fill: var(--dark-color);
}

.accent-bar::before,
.section-wrapper:first-of-type::before {
	background-color: var(--light-accent-color);
}

.section-wrapper:nth-of-type(2) {
	background-color: var(--lightest-color);
}

.my-button {
	color: var(--light-color);
	background-color: var(--darkest-color);
}

.my-button:active {
	color: var(--light-accent-color);
}

.see-through-card {
	background-color: var(--see-through-color);
}

.circuit-background-gradient {
	background: linear-gradient(var(--light-color), var(--lightest-color));
}

.circuit-background-pattern {
	background-color: transparent;
}

input,
textarea {
	color: inherit;
	background-color: transparent;
}

input:focus ~ label,
textarea:focus ~ label {
	color: var(--dark-accent-color);
}

.modal {
	background: rgba(0, 0, 0, 0.9);
}
