footer {
	text-align: center;
	padding: 5em 0;
}

.social-container {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

footer svg {
	height: 5rem;
	margin: 0 1em;
}

footer a {
	transition: var(--main-transition-style);
}

footer a:hover {
	transform: var(--hover-transform-style);
}
