/* NAVBAR */
.header-ghost {
	height: var(--header-height);
}

header {
	height: var(--header-height);
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	overflow-y: hidden;
	box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.404);
}

nav {
	max-width: 102.4rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger-menu {
	width: 3.6rem;
	fill: var(--dark-accent-color);
	overflow: visible;
}

.top-bar,
.middle-bar,
.bottom-bar {
	transition: all 0.4s;
}

.tilt-down {
	transform: translateX(15%) rotate(45deg);
	transform-origin: top left;
}

.hide {
	opacity: 0;
}

.tilt-up {
	transform-origin: bottom left;
	transform: translateX(15%) rotate(-45deg);
}

.hamburger-menu path {
	fill: var(--dark-accent-color);
}

.slide-in-menu {
	position: fixed;
	background-color: var(--dark-color);
	top: var(--header-height);
	box-shadow: var(--my-box-shadow);
	right: 0;
	transition: transform 0.4s;
	transform: translateX(100%);
}

.slide-in-menu li {
	margin: 3em 2em;
	text-align: center;
}

.menu-open {
	transform: translateX(0%);
}

/* LOGO */
.rest-of-name {
	display: none;
}

.first-name {
	position: relative;
	top: 1.8rem;
}

.last-name {
	position: relative;
	left: 1.7rem;
	bottom: 2rem;
}

/* LINK ITEMS */
nav > ul {
	display: none;
}

.nav-link {
	padding: 0.3em;
	border-bottom: 3px solid var(--dark-color);
	transition: var(--main-transition-style);
}

.nav-link:hover {
	border-color: var(--light-accent-color);
}

.nav-link:active {
	border-color: var(--dark-accent-color);
}

@media (min-width: 650px) {
	nav > ul {
		display: flex;
		gap: 1.5em;
	}

	.hamburger-menu {
		display: none;
	}

	.rest-of-name {
		display: inline;
	}

	.first-name {
		top: 0.6rem;
	}

	.last-name {
		left: 1.5rem;
		bottom: 1.2rem;
	}

	.slide-in-menu {
		display: none;
	}
}
