html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Zen Maru Gothic", sans-serif;
}

h1,
h2 {
	font-family: "Open Sans", sans-serif;
}

input,
textarea {
	font-family: inherit;
}

small,
form {
	font-size: var(--font-size-1);
}

p {
	font-size: var(--font-size-3);
}

h2 {
	font-size: var(--font-size-4);
}

h1 {
	font-size: var(--font-size-5);
}

nav ul {
	font-size: var(--font-size-2);
}

input,
textarea,
label {
	font-size: inherit;
}

.logo {
	font-size: 3.5rem;
	font-weight: 700;
}

.my-button {
	font-family: inherit;
	font-size: var(--font-size-2);
	letter-spacing: 0.4em;
}

form .my-button {
	font-size: inherit;
	letter-spacing: 0.2em;
}

.project-description {
	font-size: var(--font-size-2);
}

.experience-detail p {
	font-size: var(--font-size-2);
}

@media (min-width: 650px) {
	p {
		font-size: var(--font-size-4);
	}

	h2 {
		font-size: var(--font-size-5);
	}

	h1 {
		font-size: var(--font-size-6);
	}

	.logo {
		font-size: 2.8rem;
		font-weight: 700;
	}

	.experience-detail p {
		font-size: var(--font-size-3);
	}
}

@media (min-width: 900px) {
	#contactSection p {
		font-size: var(--font-size-4);
	}
}

@media (min-width: 1024px) {
	form {
		font-size: var(--font-size-2);
	}
}
